<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ryukyu Management Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/knowledge-base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category-content-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metadata.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq-content-page.css') }}">

</head>

<body>

    <div id="sidebar-container"></div>

    <main id="main-content"></main>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>